[submodule "ext/third_party/gsl"]
	path = ext/third_party/gsl
	url = git://github.com/microsoft/gsl.git
[submodule "ext/third_party/json"]
	path = ext/third_party/json
	url = git://github.com/avsej/json.git
[submodule "ext/third_party/spdlog"]
	path = ext/third_party/spdlog
	url = git://github.com/gabime/spdlog.git
[submodule "ext/third_party/http_parser"]
	path = ext/third_party/http_parser
	url = git://github.com/nodejs/http-parser.git
[submodule "ext/third_party/asio"]
	path = ext/third_party/asio
	url = git://github.com/chriskohlhoff/asio.git
[submodule "ext/third_party/snappy"]
	path = ext/third_party/snappy
	url = git://github.com/google/snappy.git
[submodule "test_data/sdk_test_cases"]
	path = test_data/sdk_test_cases
	url = git://github.com/couchbaselabs/sdk-testcases
[submodule "ext/third_party/catch2"]
	path = ext/third_party/catch2
	url = git://github.com/catchorg/Catch2.git
[submodule "ext/third_party/hdr_histogram_c"]
	path = ext/third_party/hdr_histogram_c
	url = git://github.com/HdrHistogram/HdrHistogram_c.git
