*.a
*.bundle
*.dylib
*.gem
*.o
*.so
*~
.byebug_history
/.idea
/.rakeTasks
/.rspec_status
/.ruby-version
/.yardoc
/_yardoc/
/cmake-build-*/
/coverage/
/doc/
/pkg/
/test/reports/
/tmp/
/vendor/bundle/
Gemfile.lock
Makefile
mkmf.log
