Checks: |-
  *,
  bugprone-*,
  cert-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  boost-*,
  cppcoreguidelines-*,
  -google-runtime-references,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -modernize-use-trailing-return-type,
  -llvmlibc-callee-namespace,
  -fuchsia-*
