HeaderFilterRegex: 'ext/couchbase.*'
Checks: |-
  *,
  bugprone-*,
  cert-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  boost-*,
  cppcoreguidelines-*,
  -google-runtime-references,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -llvm-header-guard,
  -modernize-use-trailing-return-type,
  -misc-non-private-member-variables-in-classes,
  -llvmlibc-*,
  -altera-*,
  -abseil-*,
  -fuchsia-*
