name: linters
permissions: {}

on:
  push:
    branches:
      - main
      - release*
  pull_request:
    branches:
      - main
      - release*

env:
  LLVM_VERSION: 20

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  rubocop:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
      - name: Install dependencies
        run: bundle install
      - name: Run rubocop
        run: |
          bundle exec rubocop -v
          bundle exec rubocop

  clang_format:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 2
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wget gnupg2 git
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo gpg --dearmor --output /etc/apt/keyrings/llvm-snapshot.gpg
          sudo bash -c "echo 'deb [signed-by=/etc/apt/keyrings/llvm-snapshot.gpg] https://apt.llvm.org/noble/ llvm-toolchain-noble-${LLVM_VERSION} main' >> /etc/apt/sources.list"
          sudo apt-get update -y
          sudo apt-get install -y clang-format-${LLVM_VERSION}
      - name: Run clang-format
        env:
          CB_GIT_CLANG_FORMAT: /usr/bin/git-clang-format-${{ env.LLVM_VERSION }}
          CB_CLANG_FORMAT: /usr/bin/clang-format-${{ env.LLVM_VERSION }}
        run: ./bin/check-clang-format

  clang_static_analyzer:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libssl-dev cmake curl wget gnupg2 libcurl4-openssl-dev libprotobuf-dev libgrpc-dev gdb
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo gpg --dearmor --output /etc/apt/keyrings/llvm-snapshot.gpg
          sudo bash -c "echo 'deb [signed-by=/etc/apt/keyrings/llvm-snapshot.gpg] https://apt.llvm.org/noble/ llvm-toolchain-noble-${LLVM_VERSION} main' >> /etc/apt/sources.list"
          sudo apt-get update -y
          sudo apt-get install -y clang-${LLVM_VERSION} clang-tools-${LLVM_VERSION}
      - uses: hendrikmuhs/ccache-action@v1.2
        with:
          max-size: 2G
          key: ${{ github.job }}
      - name: Run scan build
        run: ./bin/check-clang-static-analyzer
        env:
          CB_CC: /usr/bin/clang-${{ env.LLVM_VERSION }}
          CB_CXX: /usr/bin/clang++-${{ env.LLVM_VERSION }}
          CB_SCAN_BUILD: /usr/bin/scan-build-${{ env.LLVM_VERSION }}
      - name: Upload scan-build report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: ext/cmake-build-report.tar.gz
